    body {
        background-image: url('./assets/Background.jpg');
        background-size: cover;
        background-repeat: center;
        overflow: hidden;
    }
    header {
        background-color: rgba(255, 0, 170, 0);
        padding: 10px
    }
    .container {
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    .image {
        position: absolute;
        top: 25%;
        right: 0;
        transform: translate(0, -50%);
    }

    .circle{
        width: 1000px; 
        height: auto; 
        background-color: red;
        border-radius: 50%
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 10%;
        color: rgb(225, 0, 255);
    }